{% extends 'base.html'%}

{% block content%}
			<!-- start banner Area -->
			<section class="about-banner relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								About Us				
							</h1>	
							<p class="text-white link-nav"><a href="{% url 'index' %}">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="{% url 'about' %}"> About Us</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start about-info Area -->
			<section class="about-info-area section-gap">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 info-left">
							<img class="img-fluid" src="img/about/info-img.jpg" alt="">
						</div>
						<div class="col-lg-6 info-right">
							<h6>About Us</h6>
							<h1>Who We Are?</h1>
							<p>Enter the exact address to see your perfect trip. Choose yourself with whom you want to go on the road. And book!</p>
                            <p>Get to your destination directly. When traveling with fellow travelers, there is no need to worry about the queues and hours spent waiting at the station.</p>
                            <p>We want to know our users as best as possible. Our team checks profiles and reviews. When your ID is verified on your profile, you know for sure who you get in the car with.</p>
						</div>
					</div>
				</div>	
			</section>
			<!-- End about-info Area -->

    {% endblock %}


